<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>test-adayroi</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d8c9b7">  <td>17/07/18 16:28:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DemoTest.beforeTest(java.lang.String, java.lang.String)[pri:0, instance:com.hmvn.autotest.web.DemoTest@4ac3c60d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427651360</td>   <td></td> </tr>
<tr bgcolor="d8c9b7">  <td>17/07/18 16:28:40</td>   <td>5369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.demoTestCase()[pri:0, instance:com.hmvn.autotest.web.DemoTest@4ac3c60d]">demoTestCase</td> 
  <td>main@1427651360</td>   <td></td> </tr>
<tr bgcolor="d8c9b7">  <td>17/07/18 16:28:42</td>   <td>8138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.getPassFailNumber()[pri:0, instance:com.hmvn.autotest.web.DemoTest@4ac3c60d]">getPassFailNumber</td> 
  <td>main@1427651360</td>   <td></td> </tr>
</table>
