<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>test-android</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aeed8f">  <td>17/07/27 15:06:46</td>   <td>0</td> <td title="&gt;&gt;DemoAndroid.beforeSuite(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.hmvn.autotest.mobile.DemoAndroid@56ac3a89]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354003114</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/07/27 15:07:27</td>   <td>40930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoAndroid.demoTestCase()[pri:0, instance:com.hmvn.autotest.mobile.DemoAndroid@56ac3a89]">demoTestCase</td> 
  <td>main@1354003114</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/07/27 15:07:41</td>   <td>54671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoAndroid.getPassFailNumber()[pri:0, instance:com.hmvn.autotest.mobile.DemoAndroid@56ac3a89]">getPassFailNumber</td> 
  <td>main@1354003114</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/07/27 15:07:46</td>   <td>59791</td> <td title="&lt;&lt;DemoAndroid.afterSuite()[pri:0, instance:com.hmvn.autotest.mobile.DemoAndroid@56ac3a89]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354003114</td>   <td></td> </tr>
</table>
