<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="feb3fa">  <td>17/07/24 09:29:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.demoTestCase()[pri:0, instance:com.hmvn.autotest.web.DemoTest@3fee9989]">demoTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>17/07/24 09:29:48</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.getPassFailNumber()[pri:0, instance:com.hmvn.autotest.web.DemoTest@3fee9989]">getPassFailNumber</td> 
  <td>main@1340328248</td>   <td></td> </tr>
</table>
