<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>test-web-app</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aeed8f">  <td>17/07/26 14:36:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DemoTest.beforeTest(java.lang.String, java.lang.String)[pri:0, instance:com.hmvn.autotest.web.DemoTest@31a5c39e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@404214852</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/07/26 14:36:28</td>   <td>4905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.demoTestCase()[pri:0, instance:com.hmvn.autotest.web.DemoTest@31a5c39e]">demoTestCase</td> 
  <td>main@404214852</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/07/26 14:36:36</td>   <td>12350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.getPassFailNumber()[pri:0, instance:com.hmvn.autotest.web.DemoTest@31a5c39e]">getPassFailNumber</td> 
  <td>main@404214852</td>   <td></td> </tr>
</table>
