<div class="panel panel-danger">
	<div class="panel-heading" role="tab" id="$headingFail">
		<div class="row">
			<div class="collapsed col-md-11 text-left" role="button" data-toggle="collapse" data-parent="#accordionFail" href="#$collapseFail" aria-expanded="false" aria-controls="$collapseFail">
				<h4 class="panel-title">$testcaseName&nbsp;&nbsp;<span class="badge">$elapsedTime</span></h4>
			</div>
			<div class="col-md-1 text-right">
				<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#$exceptionModal">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;Exception
				</button>
			</div>
		</div><!--End .row-->
	</div><!--End #headingFail-->
	<div id="$collapseFail" class="panel-collapse collapse" role="tabpanel" aria-labelledby="$headingFail">
		<div class="panel-body">
			$log
			<div class="row">
				<img class="col-md-10 col-md-offset-1 img-thumbnail" src="$image" alt="Lỗi hình ảnh"/>
			</div>
		</div><!--End .panel-body-->
	</div><!--End #collapseFail-->
	<div class="panel-footer">
		<blockquote>
		  <p>$message</p>
		</blockquote>
	</div><!--End .panel-footer-->
	<div class="modal fade" id="$exceptionModal" tabindex="-1" role="dialog" aria-labelledby="$modalLabel" style="display: none;">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="$modalLabel">$testcaseName - <i>$message</i></h4>
			</div>
			<div class="modal-body wrap-line">
				$exception
			</div>
		</div>
	  </div>
	</div><!--End #exceptionModal-->
</div><!--End .panel-->