<div class="panel panel-warning">
	<div class="panel-heading" role="tab" id="$headingSkip">
		<div class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionSkip" href="#$collapseSkip" aria-expanded="false" aria-controls="$collapseSkip">
			<h4 class="panel-title">$testcaseName&nbsp;&nbsp;<span class="badge">$elapsedTime</span></h4>
		</div>
	</div><!--End #headingSkip-->
	<div id="$collapseSkip" class="panel-collapse collapse" role="tabpanel" aria-labelledby="$headingSkip">
		<div class="panel-body">
			$log
			<div class="row">
				<img class="col-md-10 col-md-offset-1 img-thumbnail" src="$image" alt="Lỗi hình ảnh"/>
			</div>
		</div><!--End .panel-body-->
	</div><!--End #collapseSkip-->
	
	<div class="panel-footer">
		<blockquote>
		  <p>$message</p>
		</blockquote>
	</div><!--End .panel-footer-->
</div><!--End .panel-->